{% extends 'base.html' %}
{% import 'macros.html' as macro with context %}
{% block content %}
<div class="container">
    <div class="row card-slides-row">
        {{macro.display_posts(posts)}}
    </div>
</div>
<hr class="bg-dark">
<div class="container">
    <div class="row card-slides-row justify-content-center">
        <div class="col-md-4 col-sm-8">
            <div class="card border-info" style="background: transparent;">
                <div class="card-body">
                    <i class="fas fa-quote-left"></i>
                    <div class="card-text h3" >
                        {{quote.quote}}
                    </div>
                    <i class="fas fa-quote-right float-right"></i>
                    <div class="card-subtitle font-italic">
                        ~{{quote.author}}~
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}