{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
    {% include 'blog/new_tag.html' %}
    <div class="row justify-content-center py-1">
        <div class="col-md-8 col-sm-10 col-lg-6">
            <form action="{{url_for('blog.new_post')}}" enctype="multipart/form-data" class='form-horizontal post-form border rounded' method="post">
                <h3 class="text-uppercase">Create Blog Post</h3>
                <div class="form-group">
                    {{form.csrf_token}}
                    {{form.title.label}}
                    {{form.title(class='form-control')}}
                </div>
                <div class="form-group">
                    {{form.tag.label}}
                    <select class="form-control" id="tag" name="tag" required>
                        {{macro.return_options(tag_options)}}
                    </select>
                </div>
                <div class="form-group">
                    {{form.content.label}}
                    {{form.content(class='form-control')}}
                    {{ simplemde.load}}

                </div>
                <div class="form-group">
                    <div class="custom-file">
                        {{form.photo(class='custom-file-input')}}
                        <input type="file" class="custom-file-input" id="imageUpload">
                        {{form.photo.label(class='custom-file-label')}} 
                    </div>  
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-dark">POST & PUBLISH</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}