@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); 
/* font-family: 'Oswald', sans-serif */

body {
    background: #121212;
    color: rgba(255, 255, 255, 0.87) !important;
    font-family: 'Oswald', sans-serif;
}
.navbar{
    background: #202020;
}
.navbar .navbar-brand{
    font-family: 'Oswald', sans-serif;
}
.landing-page{
    background: url('../images/landing.jpg');
    background-position: center;
    background-size: cover;
}

.landing-page .row{
    min-height: 75%;
}
.wlcm-col,.auth-form-col {
    background-color: #13012473;
}
.wlcm-h1{
    text-shadow: 2px 2px 2px black;
    font-family: 'Oswald', sans-serif;
}
.auth-form input, .auth-form textarea{
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.8);
}
.auth-form input:focus, .auth-form textarea:focus{
    background-color: transparent;
    color: #ffffff;
}
/* 
.card-slides-row .card-img-top {
    height: 166px;
} */
.card-slide {
    background: #121212;
    border-color: rgba(59, 202, 188,.87) !important;
    transition: all .3s;
    height: 100%;
}
.card-slide:hover {
    box-shadow: 0 0.2em .4em rgba(255, 255, 255, 0.30);
    cursor: pointer;
}
.card-slide .card-footer{
    margin: 0;
}
.card-slide .view-more{
    border-color: turquoise;
    color: rgba(255, 255, 255, 0.87); 
}
.reactions .btn{
    color: aqua;
}

/* POST FORM */
.post-form {
    font-family: 'Oswald', sans-serif;
    border-color: rgba(59, 202, 188,.87) !important;
    padding: 10px;
}
.post-form label{
    font-weight: bold;
}
.post-form input,.CodeMirror, .post-form textarea, .post-form select,.custom-file-label,.editor-toolbar, .editor-toolbar a,.editor-preview{
    color: rgba(255, 255, 255, 0.87) !important;
    border-width: 0;
    background: #202020 !important;
    caret-color: red !important;
}
.tag-form input{
    border-color: rgba(59, 202, 188,.87) !important;
    background: #202020 !important;
    /* background: transparent !important; */
}
.tag-form button{
    background: rgba(59, 202, 188,.87) !important;
    color: rgba(255, 255, 255,.87);
}

.comments{
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
