{% macro errors(errors) %}
    {% for error in errors %}
    <p class="text-light position-absolute font-weight-bold px-1 my-1 rounded bg-danger">{{error}}</p>
    {% endfor %}
{% endmacro %}

{% macro return_options(options) %}
<option value="general" selected='true' disabled>Choose Tag</option>
    {% for option in options %}
<option value="{{option.id}}">{{option.name}}</option>
    {% endfor %}
{% endmacro %}

{% macro display_posts(posts)%}
    {%for post in posts %}
    <div class="col-sm-6 col-md-4 col-lg-3 p-2">
        <div class="card border-dark card-slide">
            <img src="{{url_for('static',filename='images/blog/'+post.photo)}}" alt="" class="card-img-top">
            <div class="card-body py-1">
                <div class="card-text">
                    <div class="card-title">
                        {{post.title}} ~ {{post.content | truncate(50) |safe }}
                    </div>
                    <div class="card-subtitle small">
                        <a href="#" class="card-link">@{{post.user.username}}</a>
                        <a href="#" class="card-link">#{{post.tag_name.tag}}</a>
                    </div>
                </div>
            </div>
            <div class="card-footer py-1">
                <a href="#" class="btn btn-sm view-more">FULL POST</a>
                <div class="btn-group reactions">
                    <span class="btn btn-sm like liked">
                        <i class="fas fa-thumbs-up"></i>
                        <span class="badge">12</span>
                    </span>
                    <span class="btn btn-sm comment">
                        <i class="fas fa-comment"></i>
                        <span class="badge">12</span>
                    </span>
                    <span class="btn btn-sm options">
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}