{% macro errors(errors) %}
{% for error in errors %}
<p class="text-light position-absolute font-weight-bold px-1 my-1 rounded bg-danger">{{error}}</p>
{% endfor %}
{% endmacro %}

{% macro return_options(options) %}
<option value="general" disabled>Choose Tag</option>
{% for option in options %}
<option value="{{option.id}}">{{option.name}}</option>
{% endfor %}
{% endmacro %}

{% macro display_posts(posts)%}
{% if posts%}
{%for post in posts %}
<div class="col-sm-6 col-md-4 col-lg-3 p-2">
    <div class="card border-dark card-slide">
        <img src="{{url_for('static',filename='images/blog/'+post.photo)}}" alt="" class="card-img-top">
        <div class="card-body py-1">
            <div class="card-text">
                <div class="card-title">
                    {{post.title}} ~ {{post.content | truncate(50) |safe }}
                </div>
                <div class="card-subtitle small">
                    <a href="#" class="card-link">#{{post.tag_name.tag}}</a>
                </div>
            </div>
        </div>
        <div class="card-footer py-1">
            <a href="{{url_for('blog.single_post',post_id=post.id)}}" class="btn btn-sm view-more">FULL POST</a>
            <div class="btn-group reactions">
                <span class="comment">
                    <a href="{{url_for('blog.single_post',post_id=post.id)}}" class="btn btn-sm ">
                        <i class="fas fa-comment"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h3 class="text-center col-sm-12 text-white-50">No Posts...</h3>
{% endif %}
{% endmacro %}

{% macro display_comments(comments)%}
{% if comments %}
{% for comment in comments %}
<div class="my-1 border-bottom border-dark px-1">
    <span class="username">@cephas</span> -
    <span class="content">{{comment.comment}}</span>
    {% if current_user.role=='admin' %}
    <br>
    <a href="{{url_for('blog.delete_comment', comment_id=comment.id)}}">
        <i class="fas fa-sm fa-trash delComment" id='{{comment.id}}'></i>
    </a>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p class="text-center">No comments so far.</p>
{% endif %}
{% endmacro %}